.item-submission {
    display: flex;
    align-items: center;
    background-color: #e6f0ff;
    border: 1px solid #004080;
    border-radius: 12px;
    padding: 5px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    /* margin-bottom: 10px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-submission:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.submission-image {
    width: 122px;
    height: 122px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.submission-details {
    flex: 1;
}

.submission-details p {
    margin: 8px 0;
    font-size: 16px;
    color: #00264d;
}
